
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
    color: #333; 
}

header {
    background-color: #2c3e50; 
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

.inicio {
    background: url('../img/fondo-inicio.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicio h1 {
    font-size: 36px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.destinos-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.destinos-menu a {
    padding: 10px 20px;
    background-color: #3498db; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.destinos-menu a:hover {
    background-color: #2980b9;
}

#informacionContinente {
    text-align: center;
}

#informacionContinente h3 {
    font-size: 28px;
    color: #2c3e50; 
}

#informacionContinente p {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}

.imagenes {
    display: flex;
    justify-content: space-around;
}

.imagenes div {
    text-align: center;
}

.imagenes img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.paquete img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#Contacto h2{
    font-size: 50px;
}

#Contacto p{
    font-size: 20px;
}

#Contacto{
    width: 100%;
    text-align: center;
    padding: 100px 0;
    background-color: #ffffff;
}

#Contacto form{
    width: 50%;
    margin: 40px auto;
    
}

#Contacto input,
#Contacto select{
    width: 40%;
    padding: 8px 14px;
    font-size: 20px;
    margin: 10px;
    
}


#Contacto button{
    padding: 14px 30px;
    font-size: 20px;
    background-color: #9e9e06;
    color: #fff;
    border-radius: 8px;
    margin-top: 60px;
    border-color: transparent;

}

footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}

